<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <title th:text="#{details.title}"></title>
    <style>
        .card-content dl dt {
            font-weight: bold;
        }
        .secondary-content form {
            display: inline-block;
        }
        .card-action a, .card-action button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="center-align" th:text="#{details.title}"></h1>

    <!-- Informações Gerais -->
    <div class="card">
        <div class="card-content">
            <span class="card-title"><strong th:text="#{general_info}">Informações Gerais</strong></span>
            <dl>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.nome}">Nome:</dt>
                    <dd th:text="${empresa.nome}" style="margin-left: 10px;"></dd>
                </div>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.tamanho}">Tamanho:</dt>
                    <dd th:text="#{${empresa.tamanho.messageKey}}" style="margin-left: 10px;"></dd>
                </div>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.setor}">Setor:</dt>
                    <dd th:text="#{${empresa.setor.messageKey}}" style="margin-left: 10px;"></dd>
                </div>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.localizacao}">Localização:</dt>
                    <dd th:text="${empresa.localizacaoGeografica}" style="margin-left: 10px;"></dd>
                </div>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.num_funcionarios}">Número de Funcionários:</dt>
                    <dd th:text="${empresa.numeroFuncionarios}" style="margin-left: 10px;"></dd>
                </div>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.tipo_empresa}">Tipo de Empresa:</dt>
                    <dd th:text="#{${empresa.tipoEmpresa.descricao}}" style="margin-left: 10px;"></dd>
                </div>
                <div style="display: flex; margin-bottom: 10px;">
                    <dt th:text="#{general_info.cliente}">Cliente:</dt>
                    <dd th:text="${empresa.cliente}" style="margin-left: 10px;"></dd>
                </div>
            </dl>
        </div>
    </div>


    <!-- Lista de Tendências de Gastos -->
    <div class="card">
        <div class="card-content">
            <span class="card-title" th:text="#{gastos.titulo}">Tendências de Gastos</span>
            <div class="collection">
                <a href="#" class="collection-item active" th:text="#{gasto.ano}">Ano: 2024</a>
                <div th:each="tendencia : ${empresa.tendencias}">
                    <p class="collection-item">
                        <span th:text="#{gastos.ano} + ' ' + ${tendencia.ano}"></span><br>
                        <span th:text="#{gastos.marketing} + ' ' + ${tendencia.gastoMarketing}"></span><br>
                        <span th:text="#{gastos.automacao} + ' ' + ${tendencia.gastoAutomacao}"></span><br>
                    </p>
                    <div class="secondary-content">
                        <a class="btn-small waves-effect waves-light orange" th:href="@{/tendencias/{id}/editar(id=${tendencia.id})}" th:text="#{gastos.editar}">Editar</a>
                        <form th:action="@{/tendencias/{id}/remover(id=${tendencia.id})}" method="post" onsubmit="return confirm('Você tem certeza que deseja deletar esta tendência?');">
                            <button type="submit" class="btn-small waves-effect waves-light red" th:text="#{gastos.deletar}">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="btn waves-effect waves-light green" th:if="${showCreateButtonTendencia}" th:href="@{/tendencias/nova(idEmpresa=${empresa.id})}" th:text="#{gastos.criar_nova}">Criar Nova Tendência de Gastos</a>
        </div>
    </div>

    <!-- Lista de Desempenho Financeiro -->
    <div class="card">
        <div class="card-content">
            <span class="card-title" th:text="#{financeiro.titulo}">Desempenho Financeiro</span>
            <div class="collection">
                <a href="#" class="collection-item active" th:text="#{gasto.ano}">Ano: 2024</a>
                <div th:each="desempenho : ${empresa.desempenhos}">
                    <p class="collection-item">
                        <span th:text="#{financeiro.receita}  + ' ' + ${desempenho.receita}"></span><br>
                        <span th:text="#{financeiro.lucro}  + ' ' + ${desempenho.lucro}"></span><br>
                        <span th:text="#{financeiro.crescimento}  + ' ' + ${desempenho.crescimento}"></span><br>
                    </p>
                    <div class="secondary-content">
                        <a class="btn-small waves-effect waves-light orange" th:href="@{/desempenho/{id}/editar(id=${desempenho.id})}" th:text="#{financeiro.editar}">Editar</a>
                        <form th:action="@{/desempenho/{id}/remover(id=${desempenho.id})}" method="post" onsubmit="return confirm('Você tem certeza que deseja deletar este desempenho?');">
                            <button type="submit" class="btn-small waves-effect waves-light red" th:text="#{financeiro.deletar}">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="btn waves-effect waves-light green" th:if="${showCreateButtonDesempenho}" th:href="@{/desempenho/novo(idEmpresa=${empresa.id})}" th:text="#{financeiro.criar_novo}">Criar Novo Desempenho Financeiro</a>
        </div>
    </div>

    <!-- Histórico de Interações -->
    <div class="card">
        <div class="card-content">
            <span class="card-title" th:text="#{historico.titulo}">Histórico de Interações</span>
            <div class="collection">
                <a href="#" class="collection-item active" th:text="#{gasto.ano}">Ano: 2024</a>
                <div th:each="historico : ${empresa.historicos}">
                    <p class="collection-item">
                        <span th:text="#{historico.contrato} + ' ' + #{${historico.contratoAssinado.getDescricao()}}"></span><br>
                        <span th:text="#{historico.proposta}  + ' ' + ${historico.propostaNegocio}"></span><br>
                        <span th:text="#{historico.feedback}  + ' ' + ${historico.feedbackServicosProdutos}"></span><br>
                    </p>
                    <div class="secondary-content">
                        <a class="btn-small waves-effect waves-light orange" th:href="@{/historico/{id}/editar(id=${historico.id})}" th:text="#{historico.editar}">Editar</a>
                        <form th:action="@{/historico/{id}/remover(id=${historico.id})}" method="post" onsubmit="return confirm('Você tem certeza que deseja deletar este histórico?');">
                            <button type="submit" class="btn-small waves-effect waves-light red" th:text="#{historico.deletar}">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="btn waves-effect waves-light green" th:if="${showCreateButtonHistorico}" th:href="@{/historico/novo(idEmpresa=${empresa.id})}" th:text="#{historico.criar_novo}">Criar Novo Histórico de Interação</a>
        </div>
    </div>

    <!-- Comportamento de Negócios -->
    <div class="card">
        <div class="card-content">
            <span class="card-title" th:text="#{negocios.titulo}">Comportamento de Negócios</span>
            <div class="collection">
                <a href="#" class="collection-item active" th:text="#{gasto.ano}">Ano: 2024</a>
                <div th:each="comportamento : ${empresa.comportamentos}">
                    <p class="collection-item">
                        <span th:text="#{negocios.interacoes}  + ' ' + ${comportamento.interacoesPlataforma}"></span><br>
                        <span th:text="#{negocios.frequencia}  + ' ' + ${comportamento.frequenciaUso}"></span><br>
                        <span th:text="#{negocios.feedback}  + ' ' + ${comportamento.feedback}"></span><br>
                        <span th:text="#{negocios.uso_recursos} + ' ' + #{${comportamento.usoRecursosEspecificos.chave}}"></span><br>
                    </p>
                    <div class="secondary-content">
                        <a class="btn-small waves-effect waves-light orange" th:href="@{/comportamento/{id}/editar(id=${comportamento.id})}" th:text="#{negocios.editar}">Editar</a>
                        <form th:action="@{/comportamento/{id}/remover(id=${comportamento.id})}" method="post" onsubmit="return confirm('Você tem certeza que deseja deletar este comportamento?');">
                            <button type="submit" class="btn-small waves-effect waves-light red" th:text="#{negocios.deletar}">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="btn waves-effect waves-light green" th:if="${showCreateButtonComportamento}" th:href="@{/comportamento/novo(idEmpresa=${empresa.id})}" th:text="#{negocios.criar_novo}">Criar Novo Comportamento de Negócios</a>
        </div>
    </div>

    <!-- Botão para voltar à lista de empresas -->
    <a class="btn-large waves-effect waves-light" th:href="@{/empresas}" th:text="#{button.voltar}">Voltar para a lista</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
